.CadatroN{
    position: relative;
    background-color: aliceblue;
    border-radius: 20px;
    border: 1px solid;
    border-color: black;
    box-shadow:0px 4px 8px black;
    width: 40%;
    height: 70%;
    margin-inline: auto;
    top: 100px;
}
.TolBAR{
    position: relative;
    width: auto;
    height: 80PX;
    top: 0px;
}
.ButtonBack{
    position: relative;
    width: 15%;
    height: 70%;
}
.example-container{
    position: relative;
    width: 60%;
}
.buttonSave{
    background: linear-gradient(rgba(28, 65, 187, 0.7), rgba(0, 0, 0, 0.2));
    padding: 20px;
    position: relative;
    width: 50%;
    height: 40px;
}