<div class="Anuncios">
    <button routerLink="/AnuCompra" class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
        <img src="https://images2.imgbox.com/44/5a/yAQhkXNE_o.jpeg" class="card-img-top" width="100" height="200">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Quadro Decorativos Arvore Florida</h5>
          <p class="card-text" style="font-size: 17px; color: green;">39,99$</p>
        </div>
      </button>
    
      <button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
        <img src="https://images2.imgbox.com/14/7a/W37cd26l_o.jpeg" class="card-img-top" width="100" height="200">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Quadro Decorativo Arte Abstrata</h5>
          <p class="card-text" style="font-size: 17px; color: green;">39,99$</p>
        </div>
      </button>
    
      <button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
        <img src="https://images2.imgbox.com/7a/ab/kswQIqy8_o.jpeg" class="card-img-top" width="100" height="200">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Quadro Decorativo Arte Rua</h5>
          <p class="card-text" style="font-size: 17px; color: green;">39,99$</p>
        </div>
      </button>
    
      <button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
        <img src="https://images2.imgbox.com/0f/fe/72S8JCB5_o.jpeg" class="card-img-top" width="100" height="200">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Quadro Decorativo Familia feliz</h5>
          <p class="card-text" style="font-size: 17px; color: green;">39,99$</p>
        </div>
      </button>

      <button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
        <img src="https://images2.imgbox.com/44/5a/yAQhkXNE_o.jpeg" class="card-img-top" width="100" height="200">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Quadro Decorativos Arvore Florida</h5>
          <p class="card-text" style="font-size: 17px; color: green;">39,99$</p>
        </div>
      </button>
    
      <button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
        <img src="https://images2.imgbox.com/14/7a/W37cd26l_o.jpeg" class="card-img-top" width="100" height="200">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Quadro Decorativo Arte Abstrata</h5>
          <p class="card-text" style="font-size: 17px; color: green;">39,99$</p>
        </div>
      </button>
    
      <button  routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
        <img src="https://images2.imgbox.com/7a/ab/kswQIqy8_o.jpeg" class="card-img-top" width="100" height="200">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Quadro Decorativo Arte Rua</h5>
          <p class="card-text" style="font-size: 17px; color: green;">39,99$</p>
        </div>
      </button>
    
      <button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
        <img src="https://images2.imgbox.com/0f/fe/72S8JCB5_o.jpeg" class="card-img-top" width="100" height="200">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Quadro Decorativo Familia feliz</h5>
          <p class="card-text" style="font-size: 17px; color: green;">39,99$</p>
        </div>
      </button>

      <button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
        <img src="https://images2.imgbox.com/44/5a/yAQhkXNE_o.jpeg" class="card-img-top" width="100" height="200">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Quadro Decorativos Arvore Florida</h5>
          <p class="card-text" style="font-size: 17px; color: green;">39,99$</p>
        </div>
      </button>
    
      <button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
        <img src="https://images2.imgbox.com/14/7a/W37cd26l_o.jpeg" class="card-img-top" width="100" height="200">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Quadro Decorativo Arte Abstrata</h5>
          <p class="card-text" style="font-size: 17px; color: green;">39,99$</p>
        </div>
      </button>
    
      <button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
        <img src="https://images2.imgbox.com/7a/ab/kswQIqy8_o.jpeg" class="card-img-top" width="100" height="200">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Quadro Decorativo Arte Rua</h5>
          <p class="card-text" style="font-size: 17px; color: green;">39,99$</p>
        </div>
      </button>
    
      <button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
        <img src="https://images2.imgbox.com/0f/fe/72S8JCB5_o.jpeg" class="card-img-top" width="100" height="200">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Quadro Decorativo Familia feliz</h5>
          <p class="card-text" style="font-size: 17px; color: green;">39,99$</p>
        </div>
      </button>

      <button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
        <img src="https://images2.imgbox.com/44/5a/yAQhkXNE_o.jpeg" class="card-img-top" width="100" height="200">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Quadro Decorativos Arvore Florida</h5>
          <p class="card-text" style="font-size: 17px; color: green;">39,99$</p>
        </div>
      </button>
    
      <button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
        <img src="https://images2.imgbox.com/14/7a/W37cd26l_o.jpeg" class="card-img-top" width="100" height="200">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Quadro Decorativo Arte Abstrata</h5>
          <p class="card-text" style="font-size: 17px; color: green;">39,99$</p>
        </div>
      </button>
    
      <button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
        <img src="https://images2.imgbox.com/7a/ab/kswQIqy8_o.jpeg" class="card-img-top" width="100" height="200">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Quadro Decorativo Arte Rua</h5>
          <p class="card-text" style="font-size: 17px; color: green;">39,99$</p>
        </div>
      </button>
    
      <button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
        <img src="https://images2.imgbox.com/0f/fe/72S8JCB5_o.jpeg" class="card-img-top" width="100" height="200">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Quadro Decorativo Familia feliz</h5>
          <p class="card-text" style="font-size: 17px; color: green;">39,99$</p>
        </div>
      </button>
</div>