

<div class="Anuncios">
    
    <button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
        <img src="https://images2.imgbox.com/df/47/EGgExV83_o.jpg" class="card-img-top" width="100" height="200">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Capa para Mesa Sinunca 190X120</h5>
          <p class="card-text" style="font-size: 17px; color: green;">100$</p>
        </div>
    </button>

    <button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
      <img src="https://images2.imgbox.com/df/47/EGgExV83_o.jpg" class="card-img-top" width="100" height="200">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 20px;">Capa para Mesa Sinunca 230X135</h5>
        <p class="card-text" style="font-size: 17px; color: green;">120$</p>
      </div>
  </button>

  <button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
    <img src="https://images2.imgbox.com/df/47/EGgExV83_o.jpg" class="card-img-top" width="100" height="200">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 20px;">Capa para Mesa Sinuca 220X120</h5>
      <p class="card-text" style="font-size: 17px; color: green;">110$</p>
    </div>
</button>

<button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
  <img src="https://images2.imgbox.com/df/47/EGgExV83_o.jpg" class="card-img-top" width="100" height="200">
  <div class="card-body">
    <h5 class="card-title" style="font-size: 20px;">Capa para Mesa Sinuca 225X125</h5>
    <p class="card-text" style="font-size: 17px; color: green;">120$</p>
  </div>
</button>

<button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
  <img src="https://images2.imgbox.com/df/47/EGgExV83_o.jpg" class="card-img-top" width="100" height="200">
  <div class="card-body">
    <h5 class="card-title" style="font-size: 20px;">Capa para Mesa Sinuca 130X110</h5>
    <p class="card-text" style="font-size: 17px; color: green;">100$</p>
  </div>
</button>

<button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
  <img src="https://images2.imgbox.com/df/47/EGgExV83_o.jpg" class="card-img-top" width="100" height="200">
  <div class="card-body">
    <h5 class="card-title" style="font-size: 20px;">Capa para Mesa Sinuca 190X210</h5>
    <p class="card-text" style="font-size: 17px; color: green;">109$</p>
  </div>
</button>

<button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
  <img src="https://images2.imgbox.com/df/47/EGgExV83_o.jpg" class="card-img-top" width="100" height="200">
  <div class="card-body">
    <h5 class="card-title" style="font-size: 20px;">Capa para Mesa Sinuca 110X85</h5>
    <p class="card-text" style="font-size: 17px; color: green;">90$</p>
  </div>
</button>

<button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
  <img src="https://images2.imgbox.com/df/47/EGgExV83_o.jpg" class="card-img-top" width="100" height="200">
  <div class="card-body">
    <h5 class="card-title" style="font-size: 20px;">Capa para Mesa Sinuca 370X220</h5>
    <p class="card-text" style="font-size: 17px; color: green;">150$</p>
  </div>
</button>

<button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
  <img src="https://images2.imgbox.com/df/47/EGgExV83_o.jpg" class="card-img-top" width="100" height="200">
  <div class="card-body">
    <h5 class="card-title" style="font-size: 20px;">Capa para Mesa Sinuca 115X75</h5>
    <p class="card-text" style="font-size: 17px; color: green;">95$</p>
  </div>
</button>

<button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
  <img src="https://images2.imgbox.com/df/47/EGgExV83_o.jpg" class="card-img-top" width="100" height="200">
  <div class="card-body">
    <h5 class="card-title" style="font-size: 20px;">Capa para Mesa Sinuca 170X100</h5>
    <p class="card-text" style="font-size: 17px; color: green;">100$</p>
  </div>
</button>

<button routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
  <img src="https://images2.imgbox.com/df/47/EGgExV83_o.jpg" class="card-img-top" width="100" height="200">
  <div class="card-body">
    <h5 class="card-title" style="font-size: 20px;">Capa para Mesa Sinuca 235X135</h5>
    <p class="card-text" style="font-size: 17px; color: green;">140$</p>
  </div>
</button>
<button id="2" routerLink="/AnuCompra"  class="card d-inline-block mx-2 mb-3" style="width: 18rem;">
  <img src="https://images2.imgbox.com/df/47/EGgExV83_o.jpg" class="card-img-top" width="100" height="200">
  <div class="card-body">
    <h5 class="card-title" style="font-size: 20px;">Capa para Mesa Sinuca 240X140</h5>
    <p class="card-text" style="font-size: 17px; color: green;">160$</p>
  </div>
</button>

</div>